   <div>
      <img class="picturenico" src="/public/images/nico.jpg" alt="myphotocv" />
    </div>
    <div class="aboutme">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut deleniti
        adipisci sapiente qui velit! Accusamus quae id fugit ducimus dicta
        facere, fuga quaerat aliquam enim aperiam quibusdam natus amet dolor.
        Consectetur maxime non error, animi dolor aliquam, deserunt recusandae
        natus laboriosam, suscipit architecto repellat? Quibusdam, autem
        officia. Velit, dignissimos soluta officia qui aperiam labore fuga
        perspiciatis facilis fugiat quasi explicabo?
      </p>
    </div>