 <h1>I know you want to checkOUT, but is still under work! be patience..</h1>

    <div class="bepatience">
      <img
        class="bepatience"
        src="/public//images/makemygreattoday.jpg"
        alt="bepatience"
      />
    </div>