<form action="/formData" method="POST">
<h1 className= "contactForm">Give us Your Information </h1>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" ><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br><br>
  <label for="lname">Email</label><br>
  <input type="text" id="email" name="email" ><br><br>


  <h1>Select your Gender</h1>
  
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Male</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">Female</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label> <br><br>
  



<input type="submit" value="Submit">
</form> 