<h1>{{pageTittle}}</h1>

{{!-- <ul>
    {{#each foods}}
    <li>
        {{this}}
    </li>
    {{/each}}
</ul>

<ul>
    {{#each users}}
    <li>id:{{id}} name:{{name}}</li>
    {{/each}}
</ul> --}}


 <img class="imagehome" src="/public/images/photo1.jpg" />