<form action="/login" method="POST">
  <div class="imgcontainer">
    <img class="avatar" src="../public/images/img_avatar2.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="name"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="name" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

     <label for="country"><b>Country</b></label>
    <input type="country" placeholder="Enter your Country" name="country" required>

    <button type="submit" value="Submit">Login</button>


    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
   
    <span class="psw"><a href="resetPassword">Forgot Password?</a></span>
  </div>
</form>

